

.nav-drop-wrapper{
    width: 200px;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 100px;
    margin-right: 20px;
    z-index: 3;
    background: none;
    
}

.nav-drop-container{
    height: auto;
    width: 100%;
    padding: 10px 10px ;
    margin-right: 0px;
    overflow: scroll;
    background: #FF585A;
    border-radius: 0.4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}



.nav-drop-item-container{   
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    &:hover{
        background-color: #1E3861;
        border-radius: 4px;
 
    }
}

.nav-drop-item-text{
   
    h3{
        font-size: 1rem;
        margin-left: 5px;
        color: white;
    }
}


@media screen and (max-width:800px) {

    .nav-drop-container{
        width: 415px;
        padding: 4px;
    }

}